<nav class="sidenav" [class.sidenav_collapsed]="navbarService.isCollapsed()"
    [class.sidenav_mobile-open]="navbarService.isMobileOpen()">

    <div class="sidenav__top">
        <div class="sidenav__btn-wrapper">
            <button class="sidenav__btn" (click)="navbarService.toggleDesktop()">

                <mat-icon svgIcon="{{navbarService.isCollapsed() ? 'HL-navigationMenu' : 'HL-navigationClose'}}" />
            </button>
        </div>


        <!-- <h3>Folders</h3> -->
        <ul class="sidenav__list">
            @for (link of navLinks; track link.path) {

            <div class="sidenav__link-wrapper">
                <mat-icon svgIcon="{{link.icon}}" />


                <a [routerLink]="link.path" class="sidenav__link" routerLinkActive="sidenav__link_active"
                    (click)="collapseMobile()">
                    {{ link.label }}
                </a>
            </div>
            }
        </ul>
    </div>

    <div class="sidenav__bottom">
        <div (click)="$event.stopPropagation()">
            <app-theme-switch />
        </div>
    </div>
</nav>