@use '../styles/breakpoints' as *;

.layout {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 0 1fr;
    grid-template-areas:
        "nav header"
        "nav main"
    ;
    height: 100vh;
    overflow: hidden;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text);
    background: var(--color-bg);

    @include device-xs {
        grid-template-columns: calc(var(--sidenav-width, 220px)) 1fr;
    }
}

#header {
    grid-area: header;
}

#sidenav {
    grid-area: nav;
}

#main {
    grid-area: main;
    padding: 8px 16px;
    overflow-y: auto;
    background: var(--color-surface);
}