$height: 24px;
$width: 42px;
$padding: 2px;
$inner-circle: calc($height - $padding * 2);
$translate-x: calc($width - $inner-circle - $padding * 2);

/* The switch - the box around the slider */
.toggle-switch {
    &__switch {
        position: relative;
        display: inline-block;
        width: $width;
        height: $height;

        /* Hide default HTML checkbox */
        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    /* The slider */
    &__slider {
        border-radius: calc($height / 2);
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        -webkit-transition: .4s;
        transition: .4s;

        /* Псевдоэлемент для отображения иконок */
        &:before {
            position: absolute;
            height: $inner-circle;
            width: $inner-circle;

            left: $padding;
            bottom: $padding;

            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 50%;
            content: "";
            font-size: 12px;
            color: green;
            background-color: hotpink;

            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    /* Изменения для состояния checked */
    input:checked+&__slider {
        background-color: magenta;

        &:before {
            content: "";
            -webkit-transform: translateX($translate-x);
            -ms-transform: translateX($translate-x);
            transform: translateX($translate-x);
        }
    }
}