@use 'shared' as shared;

$height: 24px;
$width: 42px;
$padding: 2px;
$inner-circle: calc($height - $padding * 2);
$translate-x: calc($width - $inner-circle - $padding * 2);

/* The switch - the box around the slider */
.toggle-switch {
    &__switch {
        position: relative;
        display: inline-block;
        width: $width;
        height: $height;

        /* Hide default HTML checkbox */
        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    /* The slider */
    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $height / 2;
        background-color: var(--color-accent);
        transition: background-color 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        /** Pseudo-element to display an icon **/
        /** Light Mode **/
        &:before {
            content: "☀️";
            position: absolute;
            height: $inner-circle;
            width: $inner-circle;
            left: $padding;
            bottom: $padding;
            border-radius: 50%;

            background-color: var(--color-primary);

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
            transition: transform 0.3s ease, background-color 0.3s ease, content 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    /** Dark Mode **/
    input:checked+&__slider {
        background-color: var(--color-text-muted);

        &:before {
            transform: translateX($translate-x);
            background-color: var(--color-accent);
            content: "🌙";
        }
    }
}