/** Font Size **/
$font-xs: 0.85rem;
$font-s: 1rem; // 14px
$font-m: 1.2rem;
$font-l: 1.5rem;
$font-xl: 2rem;

/** Margin & Padding Size **/
$base-space: 0.25rem;
$space-xxs: $base-space; //.25
$space-xs: $base-space * 2; //.5
$space-s: $base-space * 3; //.75
$space-m: $base-space * 4; //1
$space-l: $base-space * 6; //1.5
$space-xl: $base-space * 8; //2

@mixin hl-heading($level) {
  font-weight: 600;

  @if $level ==1 {
    font-size: $font-xl;
    color: var(--color-primary);
  }

  @else if $level ==2 {
    font-size: $font-l;
    color: var(--color-primary);
  }

  @else if $level ==3 {
    font-size: $font-m;
    color: var(--color-accent);
  }

  @else {
    font-size: $font-s;
    color: var(--color-text);
  }
}

@mixin hl-margin($t: 0, $r: null, $b: null, $l: null) {
  $r: if($r ==null, $t, $r);
  $b: if($b ==null, $t, $b);
  $l: if($l ==null, $r, $l);
  margin: $t $r $b $l;
}

@mixin hl-padding($t: 0, $r: null, $b: null, $l: null) {
  $r: if($r ==null, $t, $r);
  $b: if($b ==null, $t, $b);
  $l: if($l ==null, $r, $l);
  padding: $t $r $b $l;
}

@mixin hl-card {

  display: flex;
  flex-direction: column;
  gap: $space-xs;

  border-radius: 8px;
  background-color: var(--color-surface);
  color: var(--color-text);
  border: 1px solid var(--color-accent);

  max-width: 400px;

  @include hl-padding($space-m, $space-l);

  @include hl-shadow;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 191, 255, 0.5);
    border-color: var(--color-primary);
  }
}


@mixin hl-shadow {
  box-shadow: 0 4px 8px rgba(0, 191, 255, 0.2);
}

@mixin hl-paragraph {
  font-size: $space-m;
  line-height: 1.5;
  color: var(--color-text);
}

@mixin hl-hint {
  font-size: $space-s;
  color: var(--color-accent);
}

@mixin hl-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-accent);
  color: var(--color-surface);

  font-size: $space-s;
  font-weight: 600;

  @include hl-padding($space-xxs, $space-s);

  border-radius: 12px;
  box-shadow: 0 0 4px rgba(106, 207, 199, 0.5);
  user-select: none;
  cursor: pointer;
}

@mixin hl-link {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}

@mixin hl-input {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid var(--color-accent);
  border-radius: 4px;

  background-color: inherit;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid var(--color-secondary);
    outline: none;
    box-shadow: 0 0 4px rgba(235, 154, 3, 0.932);
  }
}

@mixin hl-divider {
  border: none;
  height: 1px;
  background-color: var(--color-accent);
  opacity: 0.5;
  margin: 1rem 0;
}


@mixin btn-icon-only {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // border: none;
  border: 1px solid var(--color-primary);
  border-radius: 8px;

  @include hl-padding($space-m);
  height: 40px;
  width: 40px;

  background-color: var(--color-surface);
  color: var(--color-dead-pixel);

  &:hover {
    background-color: var(--color-accent);
  }

  &:active {
    background-color: var(--color-primary);
  }
}