@use 'shared' as *;
@use 'breakpoints' as *;

.card {
    @include hl-card;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        time {
            @include hl-hint;
            font-style: italic;
        }
    }

    &__header-fields {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include device-s {
            flex-direction: column;
            gap: 4px;
        }
    }

    &__label {
        font-weight: bold;
        color: var(--color-secondary);

        display: inline-block;
    }

    &__input-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        flex-basis: 45%;

        @include hl-paragraph;

        min-height: 32px; // height of input


        @include device-s {
            flex-direction: row;
            align-items: center;
            gap: 4px;
            width: 100%;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    &__footer-text {
        flex-direction: column;
        align-items: flex-start;

        @include hl-hint;
        flex: 1;
    }

    &__cover {
        max-height: 300px;
    }

    &__section {
        h3 {
            color: var(--color-primary);
        }
    }
}