@use 'shared' as shared;
@use 'breakpoints' as breakpoints;

.card {
    @include shared.hl-card;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        time {
            @include shared.hl-hint;
            font-style: italic;
        }
    }

    &__label {
        font-weight: bold;
        color: var(--color-secondary);

        display: inline-block;
    }

    &__input-block {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 4px;

        @include shared.hl-paragraph;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    &__footer-text {
        @include shared.hl-hint;
        flex: 1;
    }

    &__cover {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
        filter: drop-shadow(0 0 2px var(--color-accent));
        transition: filter 0.3s ease;

        max-height: 300px;
        object-fit: cover;

        &:hover {
            filter: drop-shadow(0 0 6px var(--color-primary));
        }
    }

    &__section {
        h3 {
            color: var(--color-primary);
        }
    }
}