<article class="card">
    <img src="assets/cover.jpg" alt="Cover of The Tragedy of Julius Caesar" class="card__cover" />


    <header class="card__header">
        <h2>The Tragedy of Julius Caesar</h2>
        <time>card added</time>
        <p><strong>Author:</strong> William Shakespeare</p>
        <p><strong>Media type:</strong> Play</p>
        <p><strong>Creation date:</strong> 1599</p>
        <p><strong>Language:</strong> English</p>
    </header>


    <section class="card__tags">
        <h3>Tags</h3>
        <ul>
            <li>Tragedy</li>
            <li>Shakespeare</li>
            <li>Julius Caesar</li>
            <li>Brutus</li>
        </ul>
    </section>


    <section>
        <h3>Description</h3>
        <p>It's a play about conspiracy against Julius Caesar.</p>
    </section>

    <section>
        <h3>Notes</h3>
        <p>My favorite performance was at the Globe. The betrayal themes feel very real to me.</p>
    </section>

    <hr class="divider">

    <footer class="card__footer">
        <p class="card__footer-text">Location: shelf B2</p>
        <p class="card__footer-text">My rating: 4/5</p>
    </footer>
</article>