<article class="card">
    <img src="assets/cover.jpg" alt="Cover of The Tragedy of Julius Caesar" class="card__cover" />

    <header class="card__header">
        <h2>The Tragedy of Julius Caesar</h2>
        <time>{{card().dateAdded}}</time>
        <div class="card__input-block">
            <label class="card__label">Author:</label>
            <app-editable-field [value]="card().author || ''" />
        </div>
        <div class="card__input-block">
            <label class="card__label">Media type:</label>
            <app-editable-field [value]="card().mediaType || ''" />
        </div>

        <div class="card__input-block">
            <label class="card__label">Creation date:</label>
            <app-editable-field [value]="card().creationDate || ''" />
        </div>

        <div class="card__input-block">
            <label class="card__label">Language:</label>
            <app-editable-field [value]="card().language || ''" />
        </div>
    </header>


    <section class="card__section">
        <h3>Tags</h3>
        <ul>
            <li>Tragedy</li>
            <li>Shakespeare</li>
            <li>Julius Caesar</li>
            <li>Brutus</li>
        </ul>
    </section>


    <section class="card__section">
        <h3>Description</h3>
        <app-editable-field [value]="card().description || ''" [type]="'textarea'" />
    </section>

    <section class="card__section">
        <h3>Notes</h3>
        <app-editable-field [value]="card().notes || ''" [type]="'textarea'" />
    </section>

    <hr class="divider">

    <footer class="card__footer">
        <div class="card__input-block card__footer-text">
            Location: <app-editable-field [value]="card().location || ''" class="card__footer-text" />
        </div>

        <div class="card__input-block card__footer-text">
            My rating: <app-editable-field [value]="card()?.rating?.toString() || ''" class="card__footer-text" />/5
        </div>
        <!-- <p class="card__footer-text">My rating: 4/5</p> -->
    </footer>
</article>