@use '../../../styles/shared';

:host {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {

    @include shared.hl-card;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include shared.hl-heading(2);

        time {
            @include shared.hl-hint;
            font-style: italic;
            margin-bottom: 0.5rem;
        }
    }

    &__label {
        font-weight: bold;
        color: var(--color-secondary);

        display: inline-block;
    }


    &__input-block {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 4px;

        @include shared.hl-paragraph;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    &__footer-text {
        @include shared.hl-hint;
        flex: 1;
    }


    &__cover {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 1rem;
        filter: drop-shadow(0 0 2px var(--color-accent));
        transition: filter 0.3s ease;

        max-height: 300px;
        object-fit: cover;

        &:hover {
            filter: drop-shadow(0 0 6px var(--color-primary));
        }
    }

    &__section {
        margin-bottom: 1rem;

        h3 {
            @include shared.hl-heading(3);
            color: var(--color-primary);
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            padding: 0;
            list-style: none;

            li {
                @include shared.hl-tag;
            }
        }
    }
}