@use 'shared' as *;
@use 'breakpoints' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    // padding: 0 16px;

    @include hl-padding(0, $space-l);

    background: var(--color-surface);
    border-bottom: 3px solid var(--color-primary);
    box-shadow: var(--shadow-sm);


    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-primary);
}

.nav {
    &__links {
        display: flex;
        align-items: center;
        gap: $space-m;
    }

    &__link {
        text-decoration: none;

        color: var(--color-primary);
        font-weight: 600;

        border-radius: 8px;

        // padding: 0 8px;
        @include hl-padding(0, $space-xs);


        color: var(--color-primary);
        transition: all 0.2s ease;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-surface);
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        }

        &:active {
            background-color: var(--color-secondary);
            color: var(--color-surface);
        }
    }
}

.burger {
    display: block;

    @include device-xs {
        display: none;
    }

    cursor: pointer;

    transition: color 0.2s ease;

    &:hover {
        color: var(--color-accent);
    }
}