@use 'shared' as *;

:host {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    flex: 1;
}

.editable {
    position: relative;
    display: flex;
    align-items: center;

    input,
    textarea {
        padding-right: 60px;
    }

    &__actions {
        position: absolute;
        right: 4px;
        display: flex;
    }

    &__icon-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-accent);

        &_cancel {
            color: var(--color-error);
        }

        &:hover {
            color: var(--color-primary);
        }
    }
}

p {
    cursor: pointer;
}

.non-editable {
    cursor: auto;
}