@use 'shared' as shared;

.tag {
    @include shared.hl-tag;

    &__remove {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: var(--color-pink);
        }
    }
}