@use 'styles/normalize';
@use 'styles/reset';
@use 'styles/shared' as *;
@use 'styles/theme' as *;
@use 'styles/breakpoints' as *;

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1 {
    @include hl-heading(1);
}

h2 {
    @include hl-heading(2);
}

h3 {
    @include hl-heading(3);
}

a {
    @include hl-link;
}

input,
textarea,
select {
    @include hl-input;
}

option {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-primary);
    background: var(--color-bg);
}

.divider {
    @include hl-divider;
}

.pointer {
    cursor: pointer;
}