@use 'shared' as *;

:host {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    flex: 1;
}

.editable {
    position: relative;
    display: flex;
    flex-direction: column;

    &__input {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include hl-input;
    }

    &__icon {
        font-size: 1rem;
        color: var(--color-accent);
    }

    &__options {
        @include hl-list;
    }

    &__option {
        @include hl-option;

        &_selected {
            @include hl-option_selected;
        }
    }
}

.non-editable {
    cursor: auto;
}