<article class="card">
    <div class="card__cover">
        <app-uploader [imageUrl]="getCoverImage()" [placeholder]="`Cover of {{ currentCard().title }}`"
            (imageChange)="onImageUpdated($event)" />
    </div>
    <header class="card__header">
        <h2>
            <app-editable-field [value]="currentCard().title || ''" [isEditable]="isEditable()"
                (valueChange)="updateField('title', $event)" />
        </h2>
        <time>{{currentCard().dateAdded | date:'mediumDate' }}</time>

        <div class="card__header-fields">
            <div class="card__input-block">
                <label class="card__label">Author:</label>
                <app-editable-field [value]="currentCard().author || ''" [isEditable]="isEditable()"
                    (valueChange)="updateField('author', $event)" />
            </div>
            <div class="card__input-block">
                <label class="card__label">Media type:</label>

                <app-editable-select [options]="MEDIA_OPTIONS" [value]="currentCard().mediaType"
                    [isEditable]="isEditable()" (valueChange)="onMediaTypeChange($event)" />
            </div>

            <div class="card__input-block">
                <label class="card__label">Creation date:</label>
                <app-editable-field [value]="currentCard().creationDate || ''" [isEditable]="isEditable()"
                    (valueChange)="updateField('creationDate', $event)" />
            </div>

            <div class="card__input-block">
                <label class="card__label">Language:</label>
                <app-editable-field [value]="currentCard().language || ''" [isEditable]="isEditable()"
                    (valueChange)="updateField('language', $event)" />
            </div>
        </div>
    </header>


    <section class="card__section">
        <h3>Tags</h3>
        <app-tag-list [tags]="currentCard().tags" [isEditable]="isEditable()"
            (tagsChange)="updateField('tags', $event)" />
    </section>


    <section class="card__section">
        <h3>Description</h3>
        <app-editable-field [value]="currentCard().description || ''" [type]="'textarea'" [isEditable]="isEditable()"
            (valueChange)="updateField('description', $event)" />
    </section>

    <section class="card__section">
        <h3>Notes</h3>
        <app-editable-field [value]="currentCard().notes || ''" [type]="'textarea'" [isEditable]="isEditable()"
            (valueChange)="updateField('notes', $event)" />
    </section>

    <hr class="divider">

    <footer class="card__footer">
        <div class="card__footer-text">
            Location: <app-editable-field [value]="currentCard().location || ''" class="card__footer-text"
                [isEditable]="isEditable()" (valueChange)="updateField('location', $event)" />
        </div>

        <div class="card__input-block">
            <p class="card__footer-text">Rating:</p>
            <app-star-rating [isEditable]="isEditable()" [inputRating]="currentCard().rating || 0" [maxRating]="5"
                (valueChange)="updateField('rating', $event)" />
        </div>
    </footer>
</article>