@use 'shared' as shared;

:host {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    flex: 1;
}

.editable {
    position: relative;
    display: flex;
    align-items: center;

    select {
        width: 100%;
        padding-right: 60px;
        border: 1px solid var(--color-border);
        transition: border-color 0.2s ease;

        &:focus {
            border-color: var(--color-accent);
        }
    }

    &__icon-btn {
        position: absolute;
        right: 4px;
        display: flex;

        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-accent);
    }
}


p {
    cursor: pointer;
}

.non-editable {
    cursor: auto;
}