@use 'shared' as *;

:host {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    flex: 1;
}

.editable {
    position: relative;
    display: flex;
    flex-direction: column;

    &__input {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include hl-input;
    }

    &__icon {
        font-size: 1rem;
        color: var(--color-accent);
    }

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        list-style: none;
        background: var(--color-surface);
        border: 1px solid var(--color-border);
        border-radius: 6px;
        z-index: 10;
        max-height: 200px;
        overflow-y: auto;
    }

    &__option {
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-surface);
        }

        &_selected {
            font-weight: 700;
            background-color: var(--color-primary);
            color: var(--color-surface);
        }

    }
}

.non-editable {
    cursor: auto;
}